<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Baby Cache</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- 	<link rel="stylesheet" type="text/css" href="css/jquery.dataTables.css"> -->
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/fullcalendar.css" />
	<link rel="stylesheet" href="css/icheck/flat/blue.css" />
		<link rel="stylesheet" href="css/select2.css" />
	<link rel="stylesheet" href="css/jquery.jscrollpane.css" />	
	<link rel="stylesheet" href="css/babycache.css" />
      <link rel="stylesheet" href="css/font-awesome.css" />
        <link rel="stylesheet" href="css/babycache-login.css" />
    <link rel="stylesheet" href="css/font-awesome.css" />
   
	<script type="text/javascript" src="js/respond.min.js"></script>
    <link rel="stylesheet" href="css/datepicker.css" />
	
	
		<script src="js/jquery.min.js"></script>  
        <script src="js/jquery-ui.custom.min.js"></script>
        <script src="js/babycache.login.js"></script> 
	
		 <script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/angular-resource.min.js"></script>
		<script type="text/javascript" src="js/angular-route.min.js"></script>
		<script type="text/javascript" src="controllers/app.js"></script>
		<script type="text/javascript" src="controllers/LoginCtrl.js"></script>
		<script type="text/javascript" src="controllers/dashboardCtrl.js"></script>
		<script type="text/javascript" src="controllers/navCtrl.js"></script>
		<script type="text/javascript" src="controllers/productCtrl.js"></script>
		<script type="text/javascript" src="controllers/storeCtrl.js"></script>
		
	
	
	
  </head>
  <body data-color="grey" class="flat">
  	
    <ng-view></ng-view>
		 

 