<div ng-include="'header.html'"></div>
		
		
		
		<div id="content" ng-controller="storeCtrl">
			
				<div class="row">
					<div class="col-xs-12">
						<div class="row">
							<div class="alert alert-success" role="alert" ng-show="successmsgshow" style="text-align: center;">{{successmsg}}</div>
							<div class="alert alert-danger" role="alert" ng-show="errmsgshow" style="text-align: center;">{{errmsg}}</div>
						</div>
					<div class="row">
					<div class="col-sm-3 col-md-3 col-lg-3 col-xs-3">
						
						</div>
						</div>
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="fa fa-align-justify"></i>									
								</span>
								<h5>Add Store</h5>
									
							</div>
							<div class="widget-content nopadding">
								<form class="form-horizontal" name="myForm" id="basic_validate" novalidate="novalidate">
								<div class="col-md-8">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Store Code:<span style="color:red">*</span></label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm" name="storecode"  ng-model="store.code" ng-pattern="/^[0-9]{1,7}$/" required>
											<span  ng-show="myForm.storecode.$error.pattern" style="color:red">Please Enter only numbers</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Store Name:<span style="color:red">*</span></label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm"  ng-model="store.name" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Address:</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm"  ng-model="store.address">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">City:</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm"   ng-model="store.city">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">State:</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm"   ng-model="store.state">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Zip Code/ Pin Code:</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm"   ng-model="store.zipcode" ui-mask="99999">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Country:</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm"   ng-model="store.country">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Email ID:</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="email"  name="email" class="form-control input-sm"  ng-model="store.emailid" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Phone No.:</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm"  ng-model="store.Phone" ui-mask="999-999-9999">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Fax:</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm" ng-model="store.fax" ui-mask="999-999-9999">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Manager Name:</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm" >
                                        </div>
                                    </div>
                                    
                                    </div>
                                    
                                   
                                    
                                    <div class="form-actions col-md-12"> 
                                      <button  class="btn btn-primary" ng-click="addStore()" ng-disabled="!myForm.$valid" > Add Store</button>
                                    </div>
                                </form>
							</div>
                           
						</div>			
					</div>
                    
				</div>
				
				
		</div>
		
		</div>
            
         
            <script src="js/bootstrap.min.js"></script>
            <script src="js/jquery.icheck.min.js"></script>
            <script src="js/select2.min.js"></script>
            <script src="js/jquery.validate.js"></script>
            
            <script src="js/jquery.nicescroll.min.js"></script>
            <script src="js/babycache.js"></script>
            <script src="js/babycache.form_validation.js"></script>
	</body>
</html>
