<div ng-include="'header.html'"></div>
		
		
			<div id="content" ng-controller="addStaffCtrl">
			
				<div class="row">
					<div class="col-xs-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="fa fa-align-justify"></i>									
								</span>
								<h5>Add Staff</h5>
									
							</div>
							<div class="widget-content nopadding">
								<form class="form-horizontal"  name="basic_validate" id="basic_validate" novalidate="novalidate">						<div class="col-md-8">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Initial:</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm" name="initial" id="initial" ng-model="staff.initial">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">First Name:<span style="color:red">*</span></label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm" name="firstname" id="firstname" ng-model="staff.firstname">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Last Name:<span style="color:red">*</span></label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm" name="lastname" id="lastname" ng-model="staff.lastname">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Email ID:</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm" name="emailid" id="emailid" ng-model="staff.emailid">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Select Store<span style="color:red">*</span>
</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                        	<div class="selecting-option">
                                            <select class="" id="sel1" ng-model="staff.storeid" >
                                                <option ng-repeat="store in values" value="{{store.storeid}}">{{store.code}} </option>
                                              
                                              </select>
                                              </div>

                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Login Name:<span style="color:red">*</span></label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm" name="loginname" id="loginname" ng-model="staff.loginname">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Password:<span style="color:red">*</span></label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm" name="password" id="password" ng-model="staff.password">
                                        </div>
                                    </div>
                                    
                                    
                                    </div>
                                    
                                    
                                    
                                    <div class="form-actions col-md-12">
                                        <button  class="btn btn-primary" ng-click="addStaff()"> Add Staff</button>
                                    </div>
                                </form>
							</div>
                           
						</div>			
					</div>
                    
				</div>
				</div>
				
		</div>
		
		</div>
            
           
            <script src="js/bootstrap.min.js"></script>
            <script src="js/jquery.icheck.min.js"></script>
            <script src="js/select2.min.js"></script>
            <script src="js/jquery.validate.js"></script>
            
            <script src="js/jquery.nicescroll.min.js"></script>
            <script src="js/babycache.js"></script>
            <script src="js/babycache.form_validation.js"></script>
						<script>
					$(document).ready(function(){
					
						$("select").select2();
							
					});
			</script>
	</body>
</html>
