<div ng-include="'header.html'"></div>	
	<div id="content" ng-controller="problemTypeCtrl">	
		<div id="content-header">
			<h1>Problem Types</h1>				
		</div>
		<div id="breadcrumb">
			<a href="#/home" title="" class="tip-bottom" data-original-title="Go to Home"><i class="fa fa-home"></i>Home</a>
			<a href="" class="current">Problem Types</a>
		</div>
		<div class="row">
			<div class="col-md-12">
				<br>
				<div class="alert alert-danger" ng-show="error">
					<strong>Something went wrong!</strong>
				</div>
			</div>
			<div class="col-xs-12 col-md-8 col-sm-8">
				<div class="widget-box">
					<div class="widget-title">
						<span class="icon">
							<i class="fa fa-align-justify"></i>									
						</span>
						<h5>Problem Type List</h5>							
					</div>					
					<div class="table-responsive">
						<table class="table table-bordered table-striped table-hover">
							<thead>
								<tr>												
									<th>Name</th>
									<th>Status</th>									
									<th>Action</th>									
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="val in pblmData">
									<td>{{val.name}}</td>
									<td class="green" ng-if="val.enabled == 1">Enabled</td>
									<td class="red" ng-if="val.enabled == 0">Disabled</td>									
									<td class="green" ng-if="val.enabled == 1" align="center"><a ng-click="changeSts(0,val.problemtypeid)" title="Make in active" class="red"><i class="fa fa-times" ></i></a></td>
									<td class="red" ng-if="val.enabled == 0" align="center"><a ng-click="changeSts(1,val.problemtypeid)" title="Make in Inactive" class="green"><i class="fa fa-check" ></i></a></td>
								</tr>						
							</tbody>
						</table>
					</div>				   
				</div>			
			</div>			
		</div>
	</div>	
	<div class="row">
		<div ng-include="'footer.html'"></div>		
	</div>
	</div>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.icheck.min.js"></script>
	<script src="js/select2.min.js"></script>
	<script src="js/jquery.validate.js"></script>
	
	<script src="js/jquery.nicescroll.min.js"></script>
	<script src="js/babycache.js"></script>
	<script src="js/babycache.form_validation.js"></script>	
	</body>
</html>
