<div ng-include="'header.html'"></div>
		
	
		
		
		<div id="content" ng-controller="storelistCtrl">
			
				<div class="row" >
					<div class="col-xs-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="fa fa-align-justify"></i>									
								</span>
								<h5>Store List</h5>
									
										<span class="btn btn-info pull-right" data-toggle="collapse" data-target="#collapse2"><i class="fa fa-search">  Search </i></span>		
									  
							</div>
							<div class="widget-content nopadding collapse" id="collapse2" >
								<form class="form-horizontal" method="post" action="#" name="basic_validate" id="basic_validate" novalidate="novalidate"><div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Address Containing</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm" name="date" id="date">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">City</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm" name="date" id="date">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">State/Province</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm" name="date" id="date">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Country</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm" name="url" id="url">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Postal Code</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm" name="url" id="url">
                                        </div>
                                    </div>
                                    
                                    </div>
                                    
                                    
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Code
										</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9 ">
                                        	<div class="selecting-option">
                                            <select class="" id="sel1">
                                                <option> 7520</option>
                                               
                                              </select>
                                              </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Phone</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm" name="date" id="date">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Fax</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm" name="date" id="date">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Status	</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9 radio-btn-apply">
                                            <label class="">
                                            <div class="iradio_flat-blue " style="position: relative;">
                                            <input type="radio" name="radios"  style="position: absolute; opacity: 0;">
                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                            </div> Enabled</label>
                                            <label class="">
                                            <div class="iradio_flat-blue " style="position: relative;">
                                            <input type="radio" name="radios"  style="position: absolute; opacity: 0;">
                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);">
                                            </ins>
                                            </div> Disabled</label>
                                            <label class="">
                                            <div class="iradio_flat-blue " style="position: relative;">
                                            <input type="radio" name="radios"  style="position: absolute; opacity: 0;">
                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                            </div> Both</label>
                                        </div>
                                    </div>
                                    
                                  </div>
                                    <div class="form-actions col-md-12">
                                        <input type="submit" value="Search" class="btn btn-primary"> <input type="submit" value="Reset" class="btn btn-primary">
                                    </div>
                                </form>
							</div>
                           
						</div>			
					</div>
                    
				</div>
				<div class="row" ng-init="getValues()">
                	<div class="col-lg-12">
                    	<div class="table-responsive">
										<table class="table table-bordered table-striped table-hover">
										<thead>
											<tr>
												<th>
													 Status
												</th>
												<th>
													 Name
												</th>
												<th>
													  Code
												</th>
                                                <th>
													 Address
												</th>
												<th>
													 City
												</th>
												<th>
													 State\Province
												</th>
                                                <th>
													 Country
												</th>
												<th>
													 Postal Code
												</th>
                                                <th>
													 Phone
												</th>
                                                <th>
													 Fax
												</th>
                                                <th>
													 Email
												</th>
												<th>
													 Options
												</th>
												
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="store in values">
											<td ng-if="store.enabled==0">Inactive</td>
											<td ng-if="store.enabled==1">Active</i></td>
											<td>{{store.name}}</td>
											<td>{{store.code}}</td>
											<td>{{store.address}}</td>
											<td>{{store.city}}</td>
											<td>{{store.state}}</td>
											<td>{{store.country}}</td>
											<td>{{store.zipcode}}</td>
											<td>{{store.phone}}</td>
											<td>{{store.fax}}</td>
											<td>{{store.emailid}}</td>
											<td ng-if="store.enabled==0"><span ng-click="checkActive(1,store.code)"><i class="fa fa-check"></span></td>
											<td ng-if="store.enabled==1"><span ng-click="checkActive(0,store.code)"><i class="fa fa-times"></span></td>
										
											</tr>
										</tbody>
										</table>
									</div>
                    </div>
                </div>
				
		</div>
		
		</div>
            
           
            <script src="js/bootstrap.min.js"></script>
            <script src="js/jquery.icheck.min.js"></script>
            <script src="js/select2.min.js"></script>
            <script src="js/jquery.validate.js"></script>
            
            <script src="js/jquery.nicescroll.min.js"></script>
            <script src="js/babycache.js"></script>
            <script src="js/babycache.form_validation.js"></script>
	</body>
</html>
