<div ng-include="'header.html'"></div>
		
	
		
		
		<div id="content" ng-controller="storelistCtrl">
			
				<div class="row" >
					<div class="col-xs-12">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="fa fa-align-justify"></i>									
								</span>
								<h5>Store List</h5>
									
										<span class="btn btn-info pull-right" ng-click="datasearch()"data-toggle="collapse" data-target="#collapse2"><i class="fa fa-search">  Search </i></span>		
									  
							</div>
							<div class="widget-content nopadding collapse" id="collapse2" >
							<div class="row"ng-show="errmsgshow">
								<div class="col-md-12">
									<div class="alert alert-danger text-center" >Please enter any one of the fields</div>
								</div>
							</div>
								<form class="form-horizontal"  name="myForm" id="basic_validate" novalidate="novalidate">
								<div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Address Containing</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm" name="address" ng-model="search.address" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">City</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm" name="city" id="city" ng-model="search.city">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">State/Province</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm" name="state" id="state" ng-model="search.state">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Country</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm" name="country" id="country" ng-model="search.country">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Postal Code</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm" name="zipcode" id="zipcode" ng-model="search.zipcode" ui-mask="99999">
                                        </div>
                                    </div>
                                    
                                    </div>
                                    
                                    
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Code
										</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9 ">
                                        	<div class="selecting-option">
                                            <select class="selectcode" id="sel1" ng-model="search.code">
												
                                                <option ng-repeat="store in values" value="{{store.code}}"> {{store.code}}</option>
                                                </select>
                                              </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Phone</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
										<input type="hidden" class="form-control input-sm" name="phone" id="c_phone">
                                            <input type="text" class="form-control input-sm " name="phone" id="phone" ui-mask="999-999-9999" ng-model="search.phone">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Fax</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9">
                                            <input type="text" class="form-control input-sm" name="fax" id="fax" ng-model="search.fax" ui-mask="999-999-9999" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 col-md-3 col-lg-3 control-label">Status	</label>
                                        <div class="col-sm-9 col-md-9 col-lg-9 ">
                                            
                                            <input type="radio" name="enabled"    ng-model="search.enabled" value=1>
                                           
                                           Enabled</br>
                                          
                                            <input type="radio" name="enabled"    ng-model="search.enabled" value=0 >
                                       
                                            Disabled</br>
                                            
                                            <input type="radio" name="enabled"   ng-model="search.enabled"  value=2>
                                        
                                            Both</br>
                                        </div>
	
										
                                    </div>
                                    
                                  </div>
                                    <div class="form-actions col-md-12">
                                        <button  class="btn btn-primary" ng-click="searchValues()" >Search</button>
										<button value="Reset" class="btn btn-primary" ng-click="Reset()">Reset</button>
                                    </div>
                                </form>
							</div>
                           
						</div>			
					</div>
                    
				</div>
				<div class="row" ng-init="getValues()" ng-show="tablevaluesshow">
                	<div class="col-lg-12">
                    	<div class="table-responsive">
										<table class="table table-bordered table-striped table-hover">
										<thead>
											<tr>
												
												<th>
													 Name
												</th>
												<th>
													  Code
												</th>
                                                <th>
													 Address
												</th>
												<th>
													 City
												</th>
												<th>
													 State\Province
												</th>
                                                <th>
													 Country
												</th>
												<th>
													 Postal Code
												</th>
                                                <th>
													 Phone
												</th>
                                                <th>
													 Fax
												</th>
                                                <th>
													 Email
												</th>
												<th>
													 Status
												</th>
												<th>
													 Options
												</th>
												
											</tr>
										</thead>
										<tbody >
											<tr ng-repeat="store in values | filter:searchQuery | startFrom:(currentPage-1)*pageSize |limitTo:pageSize">
											
											<td>{{store.name}}</td>
											<td>{{store.code}}</td>
											<td>{{store.address}}</td>
											<td>{{store.city}}</td>
											<td>{{store.state}}</td>
											<td>{{store.country}}</td>
											<td>{{store.zipcode}}</td>
											<td>{{store.phone}}</td>
											<td>{{store.fax}}</td>
											<td>{{store.emailid}}</td>
											<td ng-if="store.enabled==0" class="red">Inactive </td>
											<td ng-if="store.enabled==1" class="green">Active  </i></td>
											<td ng-if="store.enabled==0"><span ng-click="checkActive(1,store.code)" class="green" ><i class="fa fa-check" data-toggle="tooltip" data-placement="bottom" title="Enable store"></i></span></td>
											<td ng-if="store.enabled==1"><span ng-click="checkActive(0,store.code)" class="red"><i class="fa fa-times"  title="Disable store"></span></td>
										
											</tr>
										</tbody>
										</table>
									</div>
									<uib-pagination total-items="values.length" ng-model="currentPage" items-per-page="pageSize"></uib-pagination>
                    </div>
                </div>
				
		</div>
		
            
           
            <script src="js/bootstrap.min.js"></script>
          <!--    <script src="js/jquery.icheck.min.js"></script>  -->
            <script src="js/select2.min.js"></script>
            <script src="js/jquery.validate.js"></script>
            
            <script src="js/jquery.nicescroll.min.js"></script>
            <script src="js/babycache.js"></script>

			<script>
					$(document).ready(function(){
					
						$("select").select2();
							// $('input[type=checkbox],input[type=radio]').iCheck({
							//	checkboxClass: 'icheckbox_flat-blue',
							//	radioClass: 'iradio_flat-blue'
							//}); 
					});
			</script>
			
			</div>
	</body>
</html>
